.form{

   
    background-color: #fff;
    padding:0.4rem 1rem;
border-radius: 2rem;
max-width: 50rem;
margin-inline: auto;
display: flex;
justify-content: center;

}

.form input{
    width:80%;
    border:none;
    border-bottom: 1px solid gray;
    outline:none;
}